# This is Git's per-user configuration file.
[user]
name = Jaxon Keeler
	email = jaxon.keeler@twenty.io
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[rerere]
	enabled = true

[includeIf "gitdir:~/src/personal/"]
	path = ~/.gitconfig-jaxondk
